<html ng-app="timeApp">
    <head>
        <link rel="stylesheet" href="static/css/bootstrap.css" />
        <style>
                .fade-in.ng-enter-stagger {
                    -webkit-transition-delay: 200ms;
                    transition-delay:200ms;

                    -webkit-transition-duration: 0;
                    transition-duration: 0;
                }
        </style>
    </head>
    <body>
        <div class=container ng-controller="TimeCtrl as ctrl">
            <div class=row>
                <div class=col-md-6>
                    <input name=date class=form-control type=text ng-model="ctrl.birth_date" />
                    <button ng-click="ctrl.start()" class="btn btn-primary">start</button>
                </div>
                <div class=col-md-6>
                    <div class=well>
                        <div class=list-group>
                            <span class=list-group-item ng-bind="ctrl.birth_date">
                        </div>
                    </div>
                </div>
                <div class=col-md-6>
                </div>
                <div class=col-md-6>
                    <div class=list-group>
                        <span ng-repeat="(k,v) in ctrl.date_data" class=list-group-item>
                            <p><span ng-bind=k></span><span ng-bind=v class="pull-right badge"></span></p>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    <script src="static/js/angular.js"></script>
    <script src="static/js/angular-animate.js"></script>
    <script src="static/js/timeservices.js"></script>
    <script src="static/js/timecontroller.js"></script>
    <script src="static/js/timeapp.js"></script>
    </body>
</html>
    
